{% extends 'home.html' %}

{% block searchresult %}
<table id="stock_search_table">
    <tr>
        <th onclick="sortTable('stock_search_table', 0)">Code</th>
        <th onclick="sortTable('stock_search_table', 1)">Company</th>
        <th onclick="sortTable('stock_search_table', 2)">Company Full Name</th>
        <th onclick="sortTable('stock_search_table', 3)">Category</th>
        <th onclick="sortTable('stock_search_table', 4)">Market</th>
        <th onclick="sortTable('stock_search_table', 5)">Market Capital(M)</th>
    </tr>
    {% for row in result %}
        <tr>
            <td><a href="{{ url_for('stock', code=row.code) }}"> {{ row.code }}</a></td>
            <td>{{ row.company }}</td>
            <td>{{ row.company_name }}</td>
            <td>{{ row.category }}</td>
            <td>{{ row.market }}</td>
            <td>{{ row.market_cap }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}