{% extends 'home.html' %}

{% block searchresult %}
    <table id="stock_search_table" class="table table-sm">
        <thead>
            <tr>
                <th onclick="sortTable('stock_search_table', 0)" scope="col">Code</th>
                <th onclick="sortTable('stock_search_table', 1)" scope="col">Company</th>
                <th onclick="sortTable('stock_search_table', 2)" scope="col">Company Full Name</th>
                <th onclick="sortTable('stock_search_table', 3)" scope="col">Category</th>
                <th onclick="sortTable('stock_search_table', 4)" scope="col">Market</th>
                <th onclick="sortTable('stock_search_table', 5)" scope="col">Market Capital(M)</th>
            </tr>
        </thead>
        <tbody>
            {% for row in result %}
                <tr>
                    <td><a href="{{ url_for('stock', code=row.code, company=row.company) }}"> {{ row.code }}</a></td>
                    <td>{{ row.company }}</td>
                    <td>{{ row.company_name }}</td>
                    <td>{{ row.category }}</td>
                    <td>{{ row.market }}</td>
                    <td>{{ row.market_cap }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}