{% extends 'home.html' %}

{% block searchresult %}
<table>
    <tr>
        <th>Code</th>
        <th>Company</th>
        <th>Company Full Name</th>
        <th>Category</th>
        <th>Market</th>
        <th>Market Capital(M)</th>
    </tr>
    {% for row in result %}
        <tr>
            <td><a href="{{ url_for('stock', code=row.code) }}"> {{ row.code }}</a></td>
            <td>{{ row.company }}</td>
            <td>{{ row.company_name }}</td>
            <td>{{ row.category }}</td>
            <td>{{ row.market }}</td>
            <td>{{ row.market_cap }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}