{% extends 'edar_template.html' %}

{% block title %}
<title> {{ stock.name }} </title>
{% endblock %}

{% block content %}
<div>
    <h1> Stock {{ stock.name }}</h1>
    <dl class="row">
        <dt class="col-sm-2"> <h4>Price</h4></dt>
        <dd class="col-sm-10"><h5>:{{ stock.price }}</h5></dd>

        <dt class="col-sm-2"> <h4>Change</h4></dt>
        <dd class="col-sm-10"><h5>:{{ stock.change }}</h5></dd>

        <dt class="col-sm-2"> <h4>Range</h4></dt>
        <dd class="col-sm-10"><h5>:{{ stock.range }}</h5></dd>

        <dt class="col-sm-2"><h4>Volume</h4></dt>
        <dd class="col-sm-10"><h5>:{{ stock.volume }}</h5></dd>
    </dl>
    <div class="tab">
        <button class="tablinks" onclick="opentab(event, 'Overview')">Overview</button>
        <button class="tablinks" onclick="opentab(event, 'Technical Chart')">Technical Chart</button>
        <button class="tablinks" onclick="opentab(event, 'Finance')">Finance</button>
        <button class="tablinks" onclick="opentab(event, 'News')">News</button>
        <button class="tablinks" onclick="opentab(event, 'Power BI')">Power BI</button>
    </div>
    <div id="Overview" class="tabcontent container" style="display: block">
        <h1>Overview</h1>
        <div class="container">
            <div class="row">
                <!--  Company Profile Widget -->
                <div class="tradingview-widget-container col-sm-12 col-md-6" style="float: left; padding: 16px;">
                  <div class="tradingview-widget-container__widget"></div>
                  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-profile.js" async>
                      {
                      "symbol": "MYX:{{ company }}",
                      "width": "100%",
                      "height": 500,
                      "colorTheme": "dark",
                      "isTransparent": false,
                      "locale": "en"
                      }
                  </script>
                </div>
                <!-- Technical Analysis Widget -->
                <div class="tradingview-widget-container col-sm-126 col-md-6" style="float: left; padding: 16px;">
                  <div class="tradingview-widget-container__widget"></div>
                  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
                      {
                      "interval": "1M",
                      "width": "100%",
                      "isTransparent": false,
                      "height": 500,
                      "symbol": "MYX:{{ company }}",
                      "showIntervalTabs": true,
                      "locale": "en",
                      "colorTheme": "dark"
                      }
                  </script>
                </div>
                <div class="w-100" style="padding: 16px" ></div>
                <!-- Fundamental Data Widget -->
                <div class="tradingview-widget-container col-12" style="float: left;">
              <div class="tradingview-widget-container__widget"></div>
              <div class="tradingview-widget-copyright">
                  <a href="https://www.tradingview.com/symbols/MYX-{{ company }}/" rel="noopener" target="_blank">
                      <span class="blue-text">{{ company }} Fundamental Data</span>
                  </a>
                  by TradingView
              </div>
              <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-financials.js" async>
                  {
                  "symbol": "MYX:{{ company }}",
                  "colorTheme": "dark",
                  "isTransparent": false,
                  "largeChartUrl": "",
                  "displayMode": "compact",
                  "width": "99%",
                  "height": "550",
                  "locale": "en"
                    }
              </script>
            </div>
            </div>
        </div>
    </div>
    <div id="Technical Chart" class="tabcontent container">
        <h2><a href="https://www.tradingview.com/chart/?symbol=MYX%3A{{ company }}" target="_blank">Technical Chart</a> </h2>
    </div>
    <div id="Finance" class="tabcontent container">
        <h2> Finance Result </h2>
        <table id="finance_table" class="table table-sm">
        <caption>{{ stock.name }} Finance Result</caption>
        <thead>
            <tr>
                <th scope="col">Quarter</th>
                <th scope="col">Announcement Date</th>
                <th scope="col">Quarter Report</th>
                <th scope="col">Revenue</th>
                <th scope="col">Profit before Tax</th>
                <th scope="col">Net Profit</th>
                <th scope="col">DY</th>
                <th scope="col">NP Margin</th>
                <th scope="col">ROE</th>
                <th scope="col">EPS</th>
                <th scope="col">DPS</th>
                <th scope="col">QoQ</th>
                <th scope="col">YoY</th>
            </tr>
        </thead>
        <tbody>
        {% for annual, quarter_list in finance.items() %}
            <tr><th colspan="13" id="annual">{{ annual }}</th></tr>
            {% for quarter in quarter_list %}
                {% for quarter_no, finance in quarter.items() %}
                    <tr>
                        <td>{{ quarter_no }}</td>
                        <td>{{ finance['Ann. Date'] }}</td>
                        <td>{{ finance['Quarter'] }}</td>
                        <td>{{ finance['Revenue'] }}</td>
                        <td>{{ finance['PBT'] }}</td>
                        <td>{{ finance['NP'] }}</td>
                        <td>{{ finance['EOQ DY'] }}</td>
                        <td>{{ finance['NP Margin'] }}</td>
                        <td>{{ finance['ROE'] }}</td>
                        <td>{{ finance['EPS'] }}</td>
                        <td>{{ finance['DPS'] }}</td>
                        <td>{{ finance['QoQ'] }}</td>
                        <td>{{ finance['YoY'] }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div id="News" class="tabcontent container">
        <h2> KLSE News </h2>
        <div>
            <table id="klse_news_table" class="table table-sm">
                <thead>
                    <tr>
                        <th onclick="sortTable('klse_news_table', 0)" scope="col">News Title</th>
                        <th onclick="sortTable('klse_news_table', 1)" scope="col">Date</th>
                        <th onclick="sortTable('klse_news_table', 2)" scope="col">Source</th>
                    </tr>
                </thead>
                <tbody>
                {% for row1 in result.KLSE %}
                    <tr>
                        <td><a href="{{ row1.link }}" target="_blank">{{ row1.title }}</a></td>
                        <td>{{ row1.date }}</td>
                        <td>{{ row1.source }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <h1> i3Investor News </h1>
        <div>
            <table id="i3_news_table" class="table table-sm">
                <thead>
                    <tr>
                        <th onclick="sortTable('i3_news_table', 0)" scope="col">News Title</th>
                        <th onclick="sortTable('i3_news_table', 1)" scope="col">Date</th>
                        <th onclick="sortTable('i3_news_table', 2)" scope="col">Source</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row2 in result.I3INVESTOR %}
                        <tr>
                            <td><a href="{{ row2.link }}" target="_blank">{{ row2.title }}</a></td>
                            <td>{{ row2.date }}</td>
                            <td>{{ row2.source }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>Sorry sources unavailable</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="Power BI" class="tabcontent">
        <h1> Stock {{ stock.name }} </h1>
        <div class="col-sm-12">
        <img class="img-responsive img-rounded" style="margin: 0 auto" src="data:image/png;base64,{{ chart }}" alt="Quarter Revenue Result"/>
        </div>
    </div>
    <script>
        function opentab(evt, tabname){
            var i, tabcontent, tablinks;
            tabcontent =document.getElementsByClassName("tabcontent");
            for (i=0; i< tabcontent.length; i++){
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks")
            for (i=0; i<tablinks.length; i++){
                tablinks[i].className = tablinks[i].className.replace("active", "");
            }
            document.getElementById(tabname).style.display = "block";
            evt.currentTarget.className += "activate"
        }
    </script>
</div>
{% endblock %}