<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css')}}"/>
    <script src="{{ url_for('static', filename='CustomScript.js') }}"></script>
</head>
<body>
    <h1> Stock {{ stock.name }}</h1>
    <h3> Price: {{ stock.price }} </h3>
    <h3> Change: {{ stock.change }} </h3>
    <h3> Range: {{ stock.range }} </h3>
    <h3> Volume: {{ stock.volume }}</h3>
    <div class="tab">
        <button class="tablinks" onclick="opentab(event, 'Overview')">Overview</button>
        <button class="tablinks" onclick="opentab(event, 'Technical Chart')">Technical Chart</button>
        <button class="tablinks" onclick="opentab(event, 'Finance')">Finance</button>
        <button class="tablinks" onclick="opentab(event, 'News')">News</button>
        <button class="tablinks" onclick="opentab(event, 'Power BI')">Power BI</button>
    </div>
    <div id="Overview" class="tabcontent">
        <h1>Overview</h1>
        <div style="display: flow-root">
            <!--  Company Profile Widget -->
            <div class="tradingview-widget-container" style="float: left; padding: 16px;">
              <div class="tradingview-widget-container__widget"></div>
              <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-profile.js" async>
                  {
                  "symbol": "MYX:{{ company }}",
                  "width": "48%",
                  "height": 650,
                  "colorTheme": "dark",
                  "isTransparent": false,
                  "locale": "en"
                  }
              </script>
            </div>
            <!-- Technical Analysis Widget -->
            <div class="tradingview-widget-container" style="float: left; padding: 16px;">
              <div class="tradingview-widget-container__widget"></div>
              <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
                  {
                  "interval": "1M",
                  "width": "48%",
                  "isTransparent": false,
                  "height": 500,
                  "symbol": "MYX:{{ company }}",
                  "showIntervalTabs": true,
                  "locale": "en",
                  "colorTheme": "dark"
                  }
              </script>
            </div>
            <!-- Fundamental Data Widget -->
            <div class="tradingview-widget-container" style="float: left; padding: 16px;">
          <div class="tradingview-widget-container__widget"></div>
          <div class="tradingview-widget-copyright">
              <a href="https://www.tradingview.com/symbols/MYX-{{ company }}/" rel="noopener" target="_blank">
                  <span class="blue-text">{{ company }} Fundamental Data</span>
              </a>
              by TradingView
          </div>
          <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-financials.js" async>
              {
              "symbol": "MYX:{{ company }}",
              "colorTheme": "dark",
              "isTransparent": false,
              "largeChartUrl": "",
              "displayMode": "compact",
              "width": "99%",
              "height": "550",
              "locale": "en"
                }
          </script>
        </div>
        </div>
    </div>
    <div id="Technical Chart" class="tabcontent">
        <h2><a href="https://www.tradingview.com/chart/?symbol=MYX%3A{{ company }}" target="_blank">Technical Chart</a> </h2>
    </div>
    <div id="Finance" class="tabcontent">
        <h2> Finance Result </h2>
        <table id="finance_table">
        <caption>{{ stock.name }} Finance Result</caption>
        <tr>
            <th>Quarter</th>
            <th>Announcement Date</th>
            <th>Quarter Report</th>
            <th>Revenue</th>
            <th>Profit before Tax</th>
            <th>Net Profit</th>
            <th>DY</th>
            <th>NP Margin</th>
            <th>ROE</th>
            <th>EPS</th>
            <th>DPS</th>
            <th>QoQ</th>
            <th>YoY</th>
        </tr>
        {% for annual, quarter_list in finance.items() %}
            <tr><th colspan="13" id="annual">{{ annual }}</th></tr>
            {% for quarter in quarter_list %}
                {% for quarter_no, finance in quarter.items() %}
                    <tr>
                        <td>{{ quarter_no }}</td>
                        <td>{{ finance['Ann. Date'] }}</td>
                        <td>{{ finance['Quarter'] }}</td>
                        <td>{{ finance['Revenue'] }}</td>
                        <td>{{ finance['PBT'] }}</td>
                        <td>{{ finance['NP'] }}</td>
                        <td>{{ finance['EOQ DY'] }}</td>
                        <td>{{ finance['NP Margin'] }}</td>
                        <td>{{ finance['ROE'] }}</td>
                        <td>{{ finance['EPS'] }}</td>
                        <td>{{ finance['DPS'] }}</td>
                        <td>{{ finance['QoQ'] }}</td>
                        <td>{{ finance['YoY'] }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </table>
    </div>
    <div id="News" class="tabcontent">
        <h2> KLSE News </h2>
        <div>
            <table id="klse_news_table">
            <tr>
                <th onclick="sortTable('klse_news_table', 0)">News Title</th>
                <th onclick="sortTable('klse_news_table', 1)">Date</th>
                <th onclick="sortTable('klse_news_table', 2)">Source</th>
            </tr>
            {% for row1 in result.KLSE %}
                <tr>
                    <td><a href="{{ row1.link }}" target="_blank">{{ row1.title }}</a></td>
                    <td>{{ row1.date }}</td>
                    <td>{{ row1.source }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
        <h1> i3Investor News </h1>
        <div>
            <table id="i3_news_table">
            <tr>
                <th onclick="sortTable('i3_news_table', 0)">News Title</th>
                <th onclick="sortTable('i3_news_table', 1)">Date</th>
                <th onclick="sortTable('i3_news_table', 2)">Source</th>
            </tr>
            {% for row2 in result.I3INVESTOR %}
                <tr>
                    <td><a href="{{ row2.link }}" target="_blank">{{ row2.title }}</a></td>
                    <td>{{ row2.date }}</td>
                    <td>{{ row2.source }}</td>
                </tr>
            {% else %}
                <tr>
                    <td>Sorry sources unavailable</td>
                </tr>
            {% endfor %}
        </table>
        </div>
    </div>
    </div>
    <div id="Power BI" class="tabcontent">
        <h1> WIP </h1>
    </div>
    <script>
        function opentab(evt, tabname){
            var i, tabcontent, tablinks;
            tabcontent =document.getElementsByClassName("tabcontent");
            for (i=0; i< tabcontent.length; i++){
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks")
            for (i=0; i<tablinks.length; i++){
                tablinks[i].className = tablinks[i].className.replace("active", "");
            }
            document.getElementById(tabname).style.display = "block";
            evt.currentTarget.className += "activate"
        }
    </script>
</body>
</html>